@import 'colors.css';

window.background {
    background-color: @blur_background;
	border-radius: 20px;
	border-style: solid;
	border-width: 2px;
	border-color: @inverse_primary; /*@primary_fixed_dim;*/
}

#box {
  /* Define attributes of the box surrounding icons here */
  padding: 4px;
}

#active {
	/* This is to underline the button representing the currently active window */
	border-bottom: none
}

button, image {
	background: none;
	border-style: none;
	box-shadow: none;
}

button {
	padding: 2px;
	margin-left: 1px;
	margin-right: 1px;
	font-size: 8px;
}

button:hover {
	background-color: transparent/*@on_primary rgba(255, 255, 255, 0.15)*/;
	border-radius: 20px;
}

button:focus {
	box-shadow: none;
}
