/*
          _                         _
__      _| | ___   __ _  ___  _   _| |_
\ \ /\ / / |/ _ \ / _` |/ _ \| | | | __|
 \ V  V /| | (_) | (_| | (_) | |_| | |_
  \_/\_/ |_|\___/ \__, |\___/ \__,_|\__|
                  |___/

by Stephan Raabe (2023)
-----------------------------------------------------
*/

/* -----------------------------------------------------
 * Import Pywal colors
 * ----------------------------------------------------- */
@import 'colors.css';

/* -----------------------------------------------------
 * General
 * ----------------------------------------------------- */

* {
    font-family: JetbrainsMono Nerd Font Propo;
	background-image: none;
	transition: 20ms;
	box-shadow: none;
}

window {
	background-image: url("/home/$USERNAME/.config/background.png");
	background-size: cover;
	font-size: 16pt;
	color: #cdd6f4;
}

button {
	background-repeat: no-repeat;
    	background-position: center;
    	background-size: 20%;
    	background-color: @scrim;
		opacity: 0.95;
    	animation: gradient_f 20s ease-in infinite;
    	border-radius: 80px; /* Increased border radius for a more rounded look */
	border:0px;
	transition: all 0.3s cubic-bezier(.55, 0.0, .28, 1.682), box-shadow 0s ease-in-out, background-color 0s ease-in-out;
}

button:focus {
    background-size: 25%;
	background-color: @inverse_primary;
	opacity: 0.95;
	color: @scrim;
	border: 0px;
	margin: 30px;
	box-shadow: 0 0 8px @shadow;
}

button:hover {
    background-color: @on_primary;
	opacity: 0.95;
    color: @primary_fixed_dim;
    background-size: 25%;
    margin: 30px;
    border-radius: 80px;
    box-shadow: 0 0 8px @shadow;
}

/* Adjust the size of the icon or content inside the button */
button span {
    font-size: 1em; /* Increase the font size */
}

/*
-----------------------------------------------------
Buttons
-----------------------------------------------------
*/

#lock {
	margin: 5px;
	border-radius: 4px;
	background-image: image(url("icons/lock.png"));
}

#logout {
	margin: 5px;
	border-radius: 4px;
	background-image: image(url("icons/logout.png"));
}

#suspend {
	margin: 5px;
	border-radius: 4px;
	background-image: image(url("icons/suspend.png"));
}

#hibernate {
	margin: 5px;
	border-radius: 4px;
	background-image: image(url("icons/hibernate.png"));
}

#shutdown {
	margin: 5px;
	border-radius: 4px;
	background-image: image(url("icons/shutdown.png"));
}

#reboot {
	margin: 5px;
	border-radius: 4px;
	background-image: image(url("icons/reboot.png"));
}
