/* Colors */

@import 'colors.css';
@define-color background @blur_background;
@define-color groupbackground @blur_background; /*linear-gradient(45deg, @bordercolor 0%, @scrim 100%);*/
@define-color buttoncolor @primary_fixed_dim;
@define-color bordercolor @inverse_primary;
@define-color fontcolor @on_surface;

* {
    font-family: "C059 Bold";
}

/* Control Center - Default (unfocused) state */

.control-center {
    background: @background; /* Your current unfocused color */
    border: 3px solid @bordercolor;
    padding: 0;
}

.widget {
    margin-top: 1px;
    margin-bottom: 1px;
}

button {
    border: 0px;
    border-radius: 8px;
    min-width: 4px;
    min-height: 6px;
    background: @buttoncolor;
    color: @on_secondary;
}

button:hover {
    background: @primary;
    color: @on_secondary;
}

.notification-group-header {
    font-size: 14px;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
    margin: 8px;
    min-width: 0;
    min-height: 0;
}

/* Notification */

.notification {
    color: @primary_fixed_dim;
    background: @background;
    border: 3px solid @bordercolor;
    border-radius: 10px;
    padding:10px;
}

.notification-default-action:hover,
.notification-action:hover {
    background: @inverse_primary;
}

.notification-group:active,
.notification-group:selected,
.notification-group:focus,
.notification-group:hover {
    background: transparent; /* Replace with desired color */
}

/* Button */

.close-button {
    background: @inverse_primary;
    text-shadow: none;
    padding: 0;
    border-radius: 15px;
    margin-top: 9px;
    margin-right: 10px;
    min-width: 20px;
    min-height: 20px;
}

.close-button:hover {
    background: @primary;
}

.notification-group .notification-group-close-button .close-button {
    font-size: 8px;
    margin: 15px 22px;
}

/* Volume widget slider styling */
.widget-volume scale slider {
    background: @primary_fixed_dim;
    padding: 0;
    margin: 1px;
    margin-top: 0.5px;
    margin-bottom: 0.5px;
}

.widget-volume scale highlight {
    border-radius: 4px;
    background: linear-gradient(90deg, @on_secondary 0%, @bordercolor 100%, #9558e1 0%, #16121a 100%);
}

/* Backlight widget slider styling */
.widget-backlight scale slider {
    background: @primary_fixed_dim;
    padding: 0;
    margin: 1px;
    margin-top: 0.5px;
    margin-bottom: 0.5px;
}

.widget-backlight scale highlight {
    border-radius: 4px;
    background: linear-gradient(90deg, @on_secondary 0%, @bordercolor 100%, #9558e1 0%, #16121a 100%);
}

.widget-buttons-grid {
    font-size: x-small;
}

* {
    font-size: 13px;
}
