@import 'colors.css';
/* GTK NAMED COLORS ---------------- use responsibly! */
@define-color destructive_bg_color @red_4;
@define-color destructive_fg_color white;
@define-color success_bg_color @green_5;
@define-color success_fg_color white;
@define-color warning_bg_color #cd9309;
@define-color warning_fg_color rgba(0, 0, 0, 0.8);
@define-color error_bg_color @red_4;
@define-color error_fg_color white;
@define-color accent_color @primary;
@define-color accent_fg_color @on_primary;
@define-color accent_bg_color @primary;
@define-color window_bg_color @on_secondary;
@define-color window_fg_color white;
@define-color view_bg_color @on_secondary;
@define-color view_fg_color white;
@define-color headerbar_bg_color @on_secondary;
@define-color headerbar_fg_color white;
@define-color headerbar_border_color white;
@define-color headerbar_backdrop_color @window_bg_color;
@define-color headerbar_shade_color rgba(0, 0, 6, 0.36);
@define-color headerbar_darker_shade_color rgba(0, 0, 12, 0.9);
@define-color sidebar_bg_color #2e2e32;
@define-color sidebar_fg_color white;
@define-color sidebar_backdrop_color #28282c;
@define-color sidebar_shade_color rgba(0, 0, 6, 0.25);
@define-color sidebar_border_color rgba(0, 0, 6, 0.36);
@define-color secondary_sidebar_bg_color #28282c;
@define-color secondary_sidebar_fg_color white;
@define-color secondary_sidebar_backdrop_color #252529;
@define-color secondary_sidebar_shade_color rgba(0, 0, 6, 0.25);
@define-color secondary_sidebar_border_color rgba(0, 0, 6, 0.36);
@define-color card_bg_color @window_bg_color;
@define-color card_fg_color white;
@define-color card_shade_color rgba(0, 0, 6, 0.36);
@define-color dialog_bg_color #36363a;
@define-color dialog_fg_color white;
@define-color thumbnail_bg_color #39393d;
@define-color thumbnail_fg_color white;
@define-color shade_color rgba(0, 0, 6, 0.25);
@define-color scrollbar_outline_color rgba(0, 0, 12, 0.95);
@define-color popover_bg_color @window_bg_color;
@define-color popover_fg_color white;
@define-color popover_shade_color rgba(0, 0, 6, 0.25);

/* More customizations */

windowcontrols > button > image { /* GTK4 */
  color: @inverse_primary;
  min-width: 1px;
  min-height: 1px;
  border-radius: 100%;
  padding: 0;
  margin: 0 5px;
  opacity: 1;
}

button.titlebutton { /* GTK3 */
  color: transparent;
  min-width: 1px;
  min-height: 1px;
  border-radius: 100%;
  padding: 0;
  margin: 0 5px;
  opacity: 1;
}

button.titlebutton.close,
windowcontrols > button.close > image {
  color: @inverse_primary;
  background-color: transparent;
  border: none;
}

button.titlebutton.close:hover,
windowcontrols > button.close:hover > image {
  color: white;
  opacity: 0.5;
}

button.titlebutton.maximize,
windowcontrols > button.maximize > image {
  background-color: #33c848;
  border: 1px solid #3e9948;
}

button.titlebutton.maximize:hover,
windowcontrols > button.maximize:hover > image {
  color: #0b650d;
  opacity: 0.5;
}

button.titlebutton.minimize,
windowcontrols > button.minimize > image {
  background-color: #ffba40;
  border: 1px solid #dd9d30;
}

button.titlebutton.minimize:hover,
windowcontrols > button.minimize:hover > image {
  color: #9a5711;
  opacity: 0.5;
}

/************
 * Popovers *
 ************/
GraniteWidgetsPopOver {
  border: 1px solid @scrim;
  background: @background;
  color: #C3C7D1; }
  GraniteWidgetsPopOver .button {
    background-image: none;
    background: none;
    border: none; }
    GraniteWidgetsPopOver .button:active, GraniteWidgetsPopOver .button:active:hover {
      color: @source_color; }
  GraniteWidgetsPopOver > .frame {
    border: none; }
  GraniteWidgetsPopOver .sidebar.view, GraniteWidgetsPopOver iconview.sidebar {
    border: none;
    background: none; }

GraniteWidgetsStaticNotebook .frame {
  border: none; }

.popover_bg {
  background-color: @background;
  background-image: none;
  border: 1px solid @scrim;
  color: #C3C7D1; }

/***************
 * Popovers   *
 ***************/
popover.background {
  background-color: @background;
  font: initial; }
  popover.background > arrow,
  popover.background > contents {
    background: linear-gradient(to bottom, @background, @background);
    background-clip: padding-box;
    border: 0 solid #414348;
    box-shadow: 0 0 0 0;
    color: #C3C7D1; }
    popover.background > arrow label.dim-label, popover.background > arrow label.separator, popover.background > arrow .titlebar label.subtitle, .titlebar popover.background > arrow label.subtitle,
    popover.background > arrow headerbar label.subtitle,
    headerbar popover.background > arrow label.subtitle, popover.background > arrow label.title-2, popover.background > arrow .text-button:not(.suggested-action),
    popover.background > contents label.dim-label,
    popover.background > contents label.separator,
    popover.background > contents .titlebar label.subtitle,
    .titlebar popover.background > contents label.subtitle,
    popover.background > contents headerbar label.subtitle,
    headerbar popover.background > contents label.subtitle,
    popover.background > contents label.title-2,
    popover.background > contents .text-button:not(.suggested-action) {
      color: #C3C7D1; }
  popover.background:backdrop {
    background-color: @background;
    box-shadow: none; }
  popover.background > contents {
    padding: 8px;
    border-radius: 2px; }
    popover.background > contents > list,
    popover.background > contents > .view,
    popover.background > contents > iconview,
    popover.background > contents > toolbar {
      border-style: none;
      background-color: @background; }
    popover.background > contents separator {
      background-color: @secondary;
      margin: 0; }
    popover.background > contents list separator {
      margin: 0; }
  .osd popover.background, popover.background.touch-selection, popover.background.magnifier {
    background-color: @on_secondary; }
    .osd popover.background > arrow,
    .osd popover.background > contents, popover.background.touch-selection > arrow,
    popover.background.touch-selection > contents, popover.background.magnifier > arrow,
    popover.background.magnifier > contents {
      border: 1px solid rgba(255, 255, 255, 0.1);
      box-shadow: none; }

magnifier {
  background-color: rgb(170, 170, 170); }

/**********************
 * Popover Base Menus *
 **********************/
popover.menu {
  padding: 0; }
  popover.menu box.inline-buttons {
    padding: 0 12px; }
    popover.menu box.inline-buttons button.image-button.model {
      background-color: @background;
      background-image: none;
      box-shadow: none;
      border: none;
      text-shadow: none;
      -gtk-icon-shadow: none;
      min-height: 30px;
      min-width: 30px;
      padding: 0;
      border: none;
      outline: none;
      transition: none; }
      popover.menu box.inline-buttons button.image-button.model:selected {
        background: image(@secondary); }
  popover.menu box.circular-buttons {
    padding: 12px 12px 6px; }
    popover.menu box.circular-buttons button.circular.image-button.model {
      padding: 11px; }
      popover.menu box.circular-buttons button.circular.image-button.model:focus {
        background-color: @on_secondary;
        border-color: #2a2d37; }
  popover.menu > arrow, popover.menu.background > contents {
    background-color: @background;
    color: #C3C7D1;
    padding: 5px; }
    popover.menu > arrow .view, popover.menu > arrow iconview, popover.menu.background > contents .view, popover.menu.background > contents iconview {
      background-color: @background; }
      popover.menu > arrow .view row, popover.menu > arrow iconview row, popover.menu.background > contents .view row, popover.menu.background > contents iconview row {
        margin: 0; }
  popover.menu.background separator {
    margin: 6px 0; }
  popover.menu accelerator {
    color: alpha(currentColor,0.55); }
    popover.menu accelerator:dir(ltr) {
      margin-left: 12px; }
    popover.menu accelerator:dir(rtl) {
      margin-right: 12px; }
  popover.menu check:hover, popover.menu check:active,
  popover.menu radio:hover,
  popover.menu radio:active {
    background-color: @background; }
  popover.menu radio {
    border-color: #414348; }
    popover.menu radio:active {
      border-color: rgba(65, 67, 72, 0.5); }
  popover.menu arrow.left,
  popover.menu radio.left,
  popover.menu check.left {
    margin-left: -2px;
    margin-right: 6px; }
  popover.menu arrow.right,
  popover.menu radio.right,
  popover.menu check.right {
    margin-left: 6px;
    margin-right: -2px; }
  popover.menu modelbutton, popover.menu.background > contents .view row, popover.menu.background > contents iconview row {
    min-height: 30px;
    min-width: 40px;
    padding: 0 12px;
    border-radius: 15px; }
    popover.menu modelbutton:selected, popover.menu.background > contents .view row:selected, popover.menu.background > contents iconview row:selected {
      color: #C3C7D1;
      background-color: @inverse_primary; }
    popover.menu modelbutton:selected:active, popover.menu.background > contents .view row:selected:active, popover.menu.background > contents iconview row:selected:active {
      background-color: @inverse_primary; }
  popover.menu label.title {
    font-weight: bold;
    padding: 4px 32px; }

/*****************
 * Progressbars *
*****************/
progressbar progress{
  background: linear-gradient(90deg, @inverse_primary 0%, @on_secondary 100%, #9558e1 0%, #16121a 100%);
}

/************
 * Tooltips *
 ************/
tooltip {
  font-size: 12px;
  padding: 2px;
  /* not working */
  border-radius: 5px;
  box-shadow: none;
  text-shadow: 0 1px black; }
  tooltip.background {
    background-color: @on_primary;
    background-clip: padding-box;
    border: 1px solid rgba(255, 255, 255, 0.1); }
  tooltip decoration {
    background-color: @on_primary; }
  tooltip * {
    padding: 2px;
    background-color: @on_primary;
    color: white; }
    
    columnview.view,
treeview.view {
  border-left-color: #414348;
  border-top-color: #414348; }
  columnview.view:selected:focus, columnview.view:selected,
  treeview.view:selected:focus,
  treeview.view:selected {
    border-radius: 0;
    outline-color: #ed254e; }
  columnview.view:disabled,
  treeview.view:disabled {
    color: #6d7077; }
    columnview.view:disabled:selected,
    treeview.view:disabled:selected {
      color: #84868b; }
      columnview.view:disabled:selected:backdrop,
      treeview.view:disabled:selected:backdrop {
        color: rgba(76, 79, 86, 0.85); }
  columnview.view.separator,
  treeview.view.separator {
    min-height: 2px;
    color: #414348; }
  columnview.view:backdrop,
  treeview.view:backdrop {
    border-left-color: #2c2f35;
    border-top: #2c2f35; }
  columnview.view:drop(active),
  treeview.view:drop(active) {
    box-shadow: none; }
  columnview.view > dndtarget:drop(active),
  treeview.view > dndtarget:drop(active) {
    border-style: solid none;
    border-width: 1px;
    border-color: #1b1d22; }
    columnview.view > dndtarget:drop(active).after,
    treeview.view > dndtarget:drop(active).after {
      border-top-style: none; }
    columnview.view > dndtarget:drop(active).before,
    treeview.view > dndtarget:drop(active).before {
      border-bottom-style: none; }
  columnview.view.expander,
  treeview.view.expander {
    min-width: 16px;
    min-height: 16px;
    -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
    color: #91959d; }
    columnview.view.expander:dir(rtl),
    treeview.view.expander:dir(rtl) {
      -gtk-icon-source: -gtk-icontheme("pan-end-symbolic-rtl"); }
    columnview.view.expander:hover,
    treeview.view.expander:hover {
      color: #C3C7D1; }
    columnview.view.expander:selected,
    treeview.view.expander:selected {
      color: #c2c3c5; }
      columnview.view.expander:selected:hover,
      treeview.view.expander:selected:hover {
        color: #ffffff; }
    columnview.view.expander:checked,
    treeview.view.expander:checked {
      -gtk-icon-source: -gtk-icontheme("pan-down-symbolic"); }
      
      columnview.view.progressbar,
  treeview.view.progressbar {
    border: 1px solid #1b1d22;
    border-radius: 4px;
    background-color: #32363e;
    background-image: linear-gradient(to bottom, #32363e, #1b1d22);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.15), 0 1px rgba(0, 0, 0, 0.1); }
    columnview.view.progressbar:selected:focus, columnview.view.progressbar:selected,
    treeview.view.progressbar:selected:focus,
    treeview.view.progressbar:selected {
      box-shadow: inset 0 1px rgba(255, 255, 255, 0.05);
      background-image: image(@on_secondary); }
      columnview.view.progressbar:selected:focus:backdrop, columnview.view.progressbar:selected:backdrop,
      treeview.view.progressbar:selected:focus:backdrop,
      treeview.view.progressbar:selected:backdrop {
        background-color: #1f2128; }
  columnview.view.trough,
  treeview.view.trough {
    background-color: rgba(195, 199, 209, 0.1); }
    columnview.view.trough:selected:focus, columnview.view.trough:selected,
    treeview.view.trough:selected:focus,
    treeview.view.trough:selected {
      background-color: #1b1d22; }
  columnview.view > header > button,
  treeview.view > header > button {
    color: @inverse_primary;
    background-color: @on_secondary;
    font-weight: bold;
    text-shadow: none;
    box-shadow: none; }
    columnview.view > header > button:hover,
    treeview.view > header > button:hover {
      color: white;
      box-shadow: none;
      transition: none; }
    columnview.view > header > button:active,
    treeview.view > header > button:active {
      color: #C3C7D1;
      transition: none; }
    columnview.view > header > button sort-indicator,
    treeview.view > header > button sort-indicator {
      min-height: 16px;
      min-width: 16px; }
      columnview.view > header > button sort-indicator.ascending,
      treeview.view > header > button sort-indicator.ascending {
        -gtk-icon-source: -gtk-icontheme("pan-up-symbolic"); }
      columnview.view > header > button sort-indicator.descending,
      treeview.view > header > button sort-indicator.descending {
        -gtk-icon-source: -gtk-icontheme("pan-down-symbolic"); }
  columnview.view button.dnd:active, columnview.view button.dnd:selected, columnview.view button.dnd:hover, columnview.view button.dnd,
  columnview.view header.button.dnd:active,
  columnview.view header.button.dnd:selected,
  columnview.view header.button.dnd:hover,
  columnview.view header.button.dnd,
  treeview.view button.dnd:active,
  treeview.view button.dnd:selected,
  treeview.view button.dnd:hover,
  treeview.view button.dnd,
  treeview.view header.button.dnd:active,
  treeview.view header.button.dnd:selected,
  treeview.view header.button.dnd:hover,
  treeview.view header.button.dnd {
    padding: 0 6px;
    color: #ed254e;
    background-image: none;
    background-color: @surface_bright;
    border-style: none;
    border-radius: 0;
    box-shadow: inset 0 0 0 1px @on_secondary;
    text-shadow: none;
    transition: none; }
  columnview.view acceleditor > label,
  treeview.view acceleditor > label {
    background-color: #32363e; }
    
    columnview.view > header > button,
treeview.view > header > button, columnview.view > header > button:hover,
treeview.view > header > button:hover, columnview.view > header > button:active,
treeview.view > header > button:active {
  padding: 0 6px;
  background-image: none;
  border-style: none none solid solid;
  border-color: #414348;
  border-radius: 0;
  text-shadow: none; }
  columnview.view > header > button:disabled,
  treeview.view > header > button:disabled {
    border-color: @on_secondary;
    background-image: none; }
  columnview.view > header > button:last-child:backdrop,
  treeview.view > header > button:last-child:backdrop, columnview.view > header > button:last-child,
  treeview.view > header > button:last-child {
    border-right-style: none; }

/*************
 * Hyprland *
*************/
 
.sidebar-pane, .sidebar-pane:backdrop,
.sidebar,
.sidebar:backdrop,
.navigation-sidebar,
.navigation-sidebar:backdrop,
placessidebar,
placessidebar:backdrop {
  background: @on_secondary; }
.sidebar-pane .top-bar, .sidebar-pane .top-bar headerbar,
.sidebar .top-bar,
.sidebar .top-bar headerbar,
.navigation-sidebar .top-bar,
.navigation-sidebar .top-bar headerbar,
placessidebar .top-bar,
placessidebar .top-bar headerbar {
  background: @on_secondary; }

  .content-pane {
    background-color: @on_secondary; }
